

    <h2 style="color:violet">Hi, Visiter</h2>
<h1 style="color:darkmagenta">I am Sagar Tanivade</h1>
<p>An Interactive Web Developer with a Passion Of Creativity and Learning New Technologies</p>
<p>Currently I am Looking out for new Opportunities as MEAN Stack Developer with 3.5 + years of experience into software development</p>
<p>So if you are a Recruiter or just a kind soul passing by please refer me to a organization looking out for the same</p>
<p>You can contact on my official Email Address : sagar.tanivade@gmail.com</p>
<p>By the way app that you are looking at is Node/Express app for jotting down ideas for future YouTube Videos hosted on heroku with mLabs for database connectivity</p>

<div class="footer">&copy;Copyright 2018 All rights Reserved by Sagar Tanivade <br>Version: 1.0.0 </div>

